-------------------------------------------------------------------------------------------------------------
<div class="row">
    <div class="col-md-12">
        <a href="https://app.gitbook.com/@dvna-dep/s/dvna-dep/vulnerabilities/a3-sensitive-data-exposure" target="_blank" rel="noopener noreferrer"><img src="/assets/images/gitbook_logo.png" style="width:60px;height:15px;">  DVNA-DEP Security Guide for <%=vuln_title%></a>       
    </div>
</div>
-------------------------------------------------------------------------------------------------------------

<div class="markdown">
Sensitive Data exposure occurs when sensitive data such as passwords, tokens, etc. is present or leaked to where it isn't intended to be.
</div>