<div class='markdown'>
* [Admin: List Users](/app/admin/users)

</div>
    <script>
        var urlParams = new URLSearchParams(window.location.search);
        var securityRating = urlParams.get('securityRating')
    </script>
<a href='/app/admin/users'onclick="location.href=this.href+'?securityRating=' + securityRating; return"> 
    Admin: List Users</a>