<div>
    <ul>
        <li>
            <a href=<%='/app/admin/users'%> > Admin: List Users</a>
        </li>
    </ul>
    ************************************************************************************<br>
    <b>ABOVE URL LEADS TO AN ADMIN ONLY PAGE.</b><br>
    It should technically <u>only</u> be available to authorized (admin) users.<br>
    However, for learning purposes, the security rating for <a href='http://localhost:9090/learn/vulnerability/a5_broken_access_control'>
    A5 Broken Access</a><br>
    has been purposely set to Level 0 here. This allows both 
    authorized <br>(admin) and unauthorized (non-admin) users 
    to link to and <br>access the above URL.
    <br>************************************************************************************<br>
</div>
