-------------------------------------------------------------------------------------------------------------
<div class="row">
    <div class="col-md-12">
        <a href="https://app.gitbook.com/@dvna-dep/s/dvna-dep/vulnerabilities/a2-broken-authentication" target="_blank" rel="noopener noreferrer"><img src="/assets/images/gitbook_logo.png" style="width:60px;height:15px;">  DVNA-DEP Security Guide for <%=vuln_title%></a>       
    </div>
</div>
-------------------------------------------------------------------------------------------------------------

<div class='markdown'>
Developers frequently build custom authentication and session management schemes, but building these correctly is hard. As a result, these custom schemes frequently have flaws in areas such as logout, password management, timeouts, remember me, secret question, account update, etc. Finding such flaws can sometimes be difficult, as each implementation is unique.

These may result in broken authentication that may allow an attacker to bypass authentication restrictions placed by the application
</div>