-------------------------------------------------------------------------------------------------------------
<div class="row">
    <div class="col-md-12">
        <a href="https://app.gitbook.com/@dvna-dep/s/dvna-dep/vulnerabilities/a5-broken-access-control" target="_blank" rel="noopener noreferrer"><img src="/assets/images/gitbook_logo.png" style="width:60px;height:15px;">  DVNA-DEP Security Guide for <%=vuln_title%></a>       
    </div>
</div>
-------------------------------------------------------------------------------------------------------------

<div class="markdown">
Occurs when functions that are to be restricted are missing the necessary checks, and are accessible by an unauthorized user.
</div>