<div class='markdown'>

* [SQL Injection: User Search](<%='/app/usersearch?securityRating=' + securityRating %>)
* [Command Injection: Network Connectivity Test](<%='/app/ping?securityRating=' + securityRating %>)

</div>