<% if (securityRating == null) { %>
    <div class='markdown'>
        Note:  
        As of this date, we have not expanded on "<%=vuln_title%>" section.
        As such, the Security Rating toggle feature is not available for this section (i.e., page).  
        You may treat this section as if it were at Security Rating 0 (i.e., vulnerable). 
        This section is exactly the same as found in the original Appsecco DVNA.
    </div>
<% } else {%> 
    <form>
        <div class="form-check row">
            <% for (var rating in ratings) { %>
                    <button class=
                    <% if (securityRating == rating) { %>
                        "btn btn-success active" 
    
                        <% } else {%> 
                        "btn btn-default active" 
                    <% } %>                             
                    type="submit" name="securityRating" id=<%="rating" + rating %> value=
                    <%=rating%> ><%= "Security Rating " + rating %></button>
                <% } %>
        </div>
    </form>    
<% } %>








